////
/// @author TheoryOfNekomata
////

///
/// Class for restricting the visibility of the element to screen readers.
/// @group classes-a11y
/// @link http://a11yproject.com/posts/how-to-hide-content
///
%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

///
/// Class for making the element focusable on screen readers.
/// @group classes-a11y
/// @link https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
/// @see sr-only
///
%sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
