////
/// @author TheoryOfNekomata
////

///
/// Class for clearfix.
/// @group classes-presentation
///
%clearfix {
  &::before, &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}
