////
/// @author TheoryOfNekomata
////

///
/// Performs a deep get in the map.
/// @group functions-maps
/// @param {Map} map The map.
/// @param {String} keys The dot-delimited keys to get the value in the map.
/// @returns {*} The value of the map in the specified key.
///
@function deep-get($map, $keys) {
  $index: str-index($keys, '.');
  $key: '';
  $value: $map;

  @while ($index != null) {
    $key: str-slice($keys, 1, $index - 1);
    $value: map-get($value, $key);
    $keys: str-slice($keys, $index + 1);
    $index: str-index($keys, '.');
  }

  @return map-get($value, $keys);
}
